<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.smhrd.project.campusMariaMapper.campusMariaMapper">

	<!-- 사용자 생성 -->
	<insert id="createUser">
		CREATE USER #{username}@'%' IDENTIFIED BY
		#{password};
	</insert>

	<!-- 사용자를 위한 독립적인 스키마 생성 -->
	<!-- #{username} → 홀따옴표를 포함한 바인딩 -->
	<!-- ${username} → 홀따옴표를 미포함한 바인딩 -->
	<insert id="createSchemaForUser">
		CREATE DATABASE ${username};
	</insert>

	<!-- 해당 스키마에 대한 모든 권한 부여 -->
	<update id="grantPrivilegesToSchema">
		GRANT ALL PRIVILEGES ON ${username}.* TO
		#{username}@'%';
	</update>

</mapper>
