<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.project.mapper.TchMapper">

    <select id="tchNameList" resultType="com.smhrd.project.domain.Tch">
		select tch_num,tch_name,tch_type from technology
  </select>
  
   <select id="firstTch" resultType="com.smhrd.project.domain.Tch" parameterType="java.util.Map">
		select * from technology where tch_num=${tch_num}
  </select>

</mapper>